@media only screen and (max-width: 1134px) {
  .img-information-page {
    width: 250px;
    height: 150px;
    border-radius: 25px;
  }

  .pokemon-info h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .pokemon-info p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 635px) {
  .img-information-page {
    width: 200px;
    height: 100px;
    border-radius: 25px;
  }

  .pokemon-info h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .pokemon-info p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 521px) {
  .pokemon-info h2 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .pokemon-info p {
    font-size: 12px;
  }

  .double-article {
    display: flex;
    flex-direction: column;
  }

  .trainer-articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
  }
}
