.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1.5rem;
  background-color: #dc0a2d;
}

.navbarLogo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbarLogo:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.navbarTitle {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-left: 0.5rem;
}

.navbarLinks {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbarLink {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s ease-in-out;
}

.navbarLink:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
  }

  .navbarLogo {
    margin-bottom: 1rem;
  }

  .navbarTitle {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .navbarLinks {
    flex-direction: column;
    gap: 0.5rem;
  }

  .navbarLink {
    padding: 0.25rem 0.5rem;
  }
}

@media only screen and (max-width: 480px) {
  .navbar {
    padding: 0.5rem;
  }

  .navbarTitle {
    font-size: 1.25rem;
  }

  .navbarLink {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
  }
}
